

<app-test3></app-test3>

<app-layout [isFixedBottom]="true">
  <span *ngIf="error">
    Loading failed
  </span>

  <div *ngIf="!isLoading && !error">
    <div class="container content ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center">#{{ pokemon.id }} {{ pokemon.capitalizeName() }}</h1>

          <div class="card flex-row flex-wrap w-100 text-center">
            <div class="card-body">
              <img class="card-img-top" src="{{ imgUrl }}" alt="{{pokemon.capitalizeName()}}">
            </div>

            <div class="card-body bg-light">
              <h5 class="card-text">About {{ pokemon.capitalizeName() }}:</h5>
              <!-- <ul class="list-unstyled">
                <li *ngFor="let stat of pokemon.stats">
                  {{ stat.value }}: {{ stat.value }}
                </li>
              </ul> -->
              <p>{{ pokemon.flavor_text_entries[2].flavor_text  }}
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
