<app-layout [isLoading]="isLoading">
    <span *ngIf="error">
      Loading failed
    </span>
    <div style="text-align:center">
      <h2 class="text-center">TEST Johto Pokedex </h2>
<!--  <h4>
        <i>
          // next excercise: add le pagination <br>
          using offset ... and ... an ngfor loop ?? 
        </i>
      </h4> -->
      <!-- <div *ngIf="error" class="row d-flex justify-content-center ">
error: {{ error }}
      </div> -->
      <!-- <div *ngIf="!isLoading && !error" class="row d-flex justify-content-center "> -->
        <div>
          Generations:: {{ GenerationOptions | json }}<br>
        </div>
        <div>
          <select class="form-select" 
          [ngModel]="GenerationOptions" (ngModelChange)="changeGen($event)"
          aria-label="Default select example">
          <!-- (change)="changeGen($event.target.value)"   -->
            <!-- <option selected>select region</option> -->
            <option value="" >Choose generation</option>
            <!-- formControlName="generation" -->
            <!-- <option value="1">Gen 1</option>
            <option value="2">Gen 2</option> -->
            <!-- <option value="3">Gen 3</option> -->
          <!-- </select>        
          <select class="custom-select" (change)="changeCity($event)" formControlName="cityName"> -->
            <!-- <select (change)="onChange($event.target.value)"> -->

            <option *ngFor="let region of GenerationOptions" [ngValue]="region.offset"
            >
              {{region.name}}- 
              {{region.offset}}
            </option>
         </select>

          
        </div>


        
      <div class="row d-flex justify-content-center ">
        <ul class="pagination ">
          <!-- <li *ngFor="let page of pages" (click)="updatePage(page)" class="page-item"> -->
          <li class="page-item">
            <a 
            (click)="PrevPage()" 
            class="pointer paginator hover-gray">
              <!-- <i class="fas fa-chevron-left" style="font-size: 48px;"> bck </i> -->


              <!-- <span class="icon login"></span>  -->
              <fa-icon [icon]="faChevronLeft"></fa-icon>
              <!-- <i class='fas fa-chevron-left fa-3x'>fa-3x</i><br/> -->

            </a>
            <!-- <a class="page-link" href="#">{{page.index}}</a> -->
          </li>
            <li class="page-item">              
            
              <a 
              (click)="NextPage()" 
              class="pointer paginator hover-gray">
              <fa-icon [icon]="faChevronRight"></fa-icon>

            </a>

            <!-- (page)="pageChanged($event)" -->
            <!-- (click)="updatePage(page)" (page)="pageChanged($event)" -->

            <!-- <a class="page-link" href="#">{{page.index}}</a> -->
          </li>
          <!-- <li *ngFor="let page of pages" (click)="updatePage(page)" class="page-item"><a class="page-link" href="#">{{page.index}}</a></li> -->
        </ul>
      </div>

    </div>
    <!-- <app-pokemon-loading [isLoading]='isLoading'></app-pokemon-loading> -->
    <div *ngIf="!isLoading">
      <div class="container content">
        <div class="row">
          <div class="col-md-2" *ngFor="let pokemon of pokemonGrid">
            <div class="card-deck">
              <div class="card text-center mt-2 mb-2" style="width: 18rem;">
                <div class="card-header">
                  {{ pokemon.name }}
                  <!-- <label class="checkbox-container">Favorite
                    <input type="checkbox" (change)="onChange($event, pokemon)" [checked]="favoritePokemon.has(pokemon.id)" />
                    <span class="checkmark {{pokemon.isChecked ? 'fa fa-star' : 'fa fa-star-o' }}"></span>
                  </label> -->
                </div>
                <a [routerLink]="['/pokemon', pokemon.id]">
                  <div class="card-body">
                    <!--  -->
                  <img class="card-img-top" src="{{ pokemon.imageUrl }}" >
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </app-layout>
